@use 'base/mixins' as m;
@use 'base/variables' as v;

.bg-oscuro{
    background-color: v.$oscuro;
}

.boletos{
    padding: 5rem 0;
    h3{
        text-align: center;
        color: v.$blanco;
    }

    .contenedor-boletos{

        @include m.tablet {
            @include m.grid(2, 4rem)
        } 
    }
}


.pase{

    &-header,
    &-footer{
        padding: .5rem;
        p{ 
            
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }

    &-header{
        background-color: v.$rosa;

       p{
        text-transform: uppercase;
        font-size: 1.8rem;
       }
    }

    &-body{
        background-color: v.$blanco;

        ul{
            @include m.resetear-lista;

            li{
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }

    &-footer{
        background-color: v.$violeta;
        
        p{
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}


.nombre-pase{
    color: v.$blanco;
    text-align: center;
}